body{
    background-color: #666666;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
       
}

header{
    background-color: #ffffff;
    overflow: hidden;
    width: 990px;
    margin: auto;
}

h1{
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 36px;
    padding-left: 15px;

}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    color: #777777;
    font-size: 18px;
    line-height: 2;
    font-weight: 80;
    
}

.content-frame{
    width: 960px;
    height: 550px;
    padding: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    margin: auto;
    background-color:#ffffff;
}

.copyright{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-top: 10px;
}

.footer{
    height: 50px;   
    background-color: #666666;
}

.main-content-rail{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #dddddd;
    padding-top: 25px;
    background-image: url(light_wool_tile.png);
    background-repeat: repeat;
    background-color: #ffffff;
    height: 700px;  
}

.navigation{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 34px;
    padding-bottom: 22px;
    font-size: 20px;
    font-weight: normal;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.nav-spacer{
    float: right;
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    
}

.toe-socks{
    height: 7px;
    background-color: #4aaaa5;
}

.header-span{
    background-color: #ffffff;
    height: 81px;
}

.horizon-bar{
    border-top-width: 3px;
    border-top-color: #dddddd;
    border-top-style: solid;
    width: 934px;
    margin: auto;
    padding-bottom: 5px;
}

.owner-name{
    background-color: #4aaaa5;
    float: left;    
    padding: 20px 35px 20px 35px;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
}

#profile-pic{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    float: left;
}